@page "/"
@using ChangeFeedWebGame.Models
@rendermode InteractiveServer
@inject GameService gameService

<PageTitle>Cosmic Dice Roll</PageTitle>

<h1>Cosmic Dice Roll</h1>
<br />

<div class="d-flex" align="left">
    <div class="pb-2 pt-4">
        <p>Select User: </p>
        <select @onchange="UpdateSelectedUser">
            @foreach (string user in DummyUsers)
            {
                <option value="@user">@user</option>
            }

        </select>
    </div>
</div>
<br />
<br />

<p role="status">Score: @CurrentScore</p>
<p role="alert">Achievement Unlocked: @Achievement</p>

<br />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="CreateNewGame">New game</button>


@code {
    // Inject NavigationManager
    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    [Parameter]
    public EventCallback<string> OnUserChanged { get; set; }

    [Parameter]
    public EventCallback<int> OnScoreChanged { get; set; }

    private string User = "";
    private string GameId = "";
    private int CurrentScore = 0;
    private string Achievement = "";

    private List<string> DummyUsers = new List<string> { "Andrew", "Kirill", "Jay", "Marko", "Patty", "Justine" };


    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(User))
            User = DummyUsers[0];

        var changeEventArgs = new ChangeEventArgs { Value = User };
        await UpdateSelectedUser(changeEventArgs);
    }

    private async Task UpdateSelectedUser(ChangeEventArgs e)
    {
        User = e.Value!.ToString();
        await OnUserChanged.InvokeAsync(User);

        var game = await gameService.GetMostRecentGame(User);

        if (game != null)
        {
            GameId = game.Id;
            CurrentScore = game.Score;
        }
        else
        {
            CreateNewGame();
        }
    }

    private async void IncrementCount()
    {
        Random random = new Random();
        int randomScore = random.Next(1, 24);

        string achievement = "";
        if (randomScore == 2)
        {
            achievement = "Snake Eyes!";   
        }
        else if (randomScore == 7)
        {
            achievement = "Lucky Seven!";
        }
        else if (randomScore == 4 || randomScore == 6 || randomScore == 8 || randomScore == 10 || randomScore == 12)
        {
            achievement = "Double Trouble!";
        }
        else if (randomScore == 24)
        {
            achievement = "High Roller!";
        }

        var game = await gameService.GetGame(GameId, User);

        CurrentScore = await gameService.UpdateScore(game, randomScore, achievement);
        Achievement = achievement;

        this.StateHasChanged();
    }

    private async void CreateNewGame()
    {
        string gameId = Guid.NewGuid().ToString();
        Game game = new Game()
            {
                Id = gameId,
                UserId = User,
                Score = 0,
                Clicks = 0,
                Achievements = new List<string>()
            };
        await gameService.CreateGame(game);

        GameId = gameId;
        CurrentScore = 0;
        Achievement = "";

        this.StateHasChanged();
    }
}
